/* Empty. Add your own CSS if you like */


/** Progress Bar **/
.graph{
	background: url('../img/dots-sprite-75a7f2fc.png') repeat-x -6px -221px;
}

.unit {
  float: left;
  _zoom: 1;
}

.size1of2 {
  width: 50%;
}

.size1of3 {
  width: 33.3333%;
}

.size1of4{
  width: 25%;
}

.fk-text-center {
  text-align: center;
}

.graph .state {
  height: 36px;
}

.graph .state ul{
  border-left: dotted 1px #ccc;
}

.graph .order-step{
  background: url('../img/dots-sprite-75a7f2fc.png') no-repeat 0 0;
  height: 22px;
  width: 30px;
  margin-top: 7px;
  text-align: center;
  display: inline-block;
  zoom: 1;
}

.graph .state .processed{
  background-position: 4px 0;
}

.graph .state .processed-continous{
  background-position: 4px -44px;
}

.state .inactive{
  background-position: 4px -176px;
}

.line, .lastUnit {
  overflow: hidden;
}

.lastUnit{
  float: none;
}

/** R Position , box added on click **/
.rposition{
  position: relative;
}
 
 .granular-info-box{
  background-color: #fff;
  border: 1px solid #c5c5c5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  min-height: 50px;
  height: auto!important;
  height: 50px;
  font-size: 11px;
 }
 
 .arrow{
  background: url('../img/tool-tip-sprt-61fbb3ae.png') no-repeat 0 0;
  height: 10px;
  width: 15px;
  position: absolute;
  top: -8px;
  left: 56px;
 }
 
 .margin5 {
  margin: 5px;
}

.granular-info-box .processed{
  color: #6bad50;
}

.fk-font-normal{
  font-size: 13px;
}

.bmargin5 {
  margin-bottom: 5px;
}

.granular-info-box .granular-info .col1{
  padding-left: 0;
  border-left: none;
  width: 21%;
  white-space: nowrap;
}

.granular-info-box .granular-info .unit{
  padding: 3px 5px;
  padding-bottom: 200px;
  margin-bottom: -200px;
}

.granular-info-box .granular-info .col2 {
  width: 13.5%;
  text-align: center;
  white-space: nowrap;
}

.route-graph-container .route-graph {
    position: relative;
}
.route-graph-container .abs-text {
    position: absolute;
    top: 0;
}
.button-dash svg {
    padding-top: 12px;
}
.reset-mg-top {
    margin-top: 0;
}