<ion-view view-title="Ferries on Route {{data.selectedRoute}}">
    <ion-content>
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="ferry in data.ferries" type="item-text-wrap">
                
                <div class="route-graph-container">
                    <div class="route-graph">
                        
                        <p>Route B {{ferry.route.length}}</p>
                        <ul class="line graph" ng-init="numberOfBuildings=ferry.route.length;">
                            <li class="unit size1of{{numberOfBuildings}} fk-text-center state" ng-repeat="building in ferry.route">
                                <ul class="line">
                                    <li class="order-step" 
                                        ng-class="{'processed':building.reached, 'inactive':!building.reached}"
                                        ng-click="data.showInfoBox($index)">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                        <div class="rposition">
                            <div class="granular-info-box" ng-repeat="building in ferry.route" ng-show="data.infoBoxes[$index]">
                                <div class="arrow arrow0"></div>
                                <div class="margin5">
                                    <div class="processed bmargin5 fk-font-normal">Building {{building.office}}</div>
                                    <ul class="line granular-info">
                                        <li class="unit col1">Sat, 6th Jun</li>
                                        <li class="unit col2">12:38 pm</li>
                                        <li class="lastUnit col4 word-break">Payment Approved</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>