<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Select Building</div>
                <select ng-model="data.userBuilding">
                    <option ng-repeat="(building, routes) in data.buildings" value="{{building}}">Building {{building}}</option>
                </select>
            </label>
        </div>
        <button class="button button-block button-stable" ng-click="selectBuilding();">Find Routes</button>
        <!-- List routes Based on user selected building -->
        <!--<ion-list ng-show="data.buildingRoutes.length">
            <h3 class="padding-top">Available Routes</h3>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="(routeId, route) in data.routes" type="item-text-wrap"
            href="#/tab/routes/{{routeId}}" ng-show="data.buildingRoutes.indexOf(routeId)>-1">
                <h2>Route {{routeId}}</h2>
                <p ng-repeat="building in route.buildings">Building
                    <strong>{{building}}</strong>
                    <span ng-hide="$last">to</span>
                </p>
                <p>& Vice-versa</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>-->
        <div class="available-routes-options" ng-show="data.buildingRoutes.length">
            <h3 class="padding-top">Available Routes</h3>
            <div class="list card" ng-repeat="(routeId, route) in data.routes" ng-show="data.buildingRoutes.indexOf(routeId)>-1">
                <div class="item item-divider">Route {{routeId}}</div>
                <div class="item item-body">

                    <div class="route-graph-container" ng-repeat="ferry in data.ferriesOnRoute" ng-show="routeId===ferry.routeId">
                        <div class="route-graph">
                            <p>&nbsp;</p>
                            <ul class="line graph">
                                <li class="unit size1of{{route.buildings.length}} fk-text-center state" ng-repeat="building in route.buildings">
                                    <ul class="line">
                                        <li class="order-step" ng-class="{'processed':ferry.route[building].reached, 'inactive':!ferry.route[building].reached}" ng-click="data.showInfoBox($index)"></li>
                                    </ul>
                                    <p class="abs-text">Building {{building}}</p>
                                </li>
                            </ul>
                            <div class="rposition">
                                <div class="granular-info-box" ng-repeat="building in route.buildings" ng-show="data.infoBoxes[$index]">
                                    <div class="arrow arrow0"></div>
                                    <div class="margin5" ng-init="ferryData=ferry.route[building];">
                                        <div class="bmargin5 fk-font-normal" ng-class="{'processed':ferryData.reached, 'inactive':!ferryData.reached}">Building {{building}}</div>
                                        <ul class="line granular-info">
                                            <li class="unit col1" ng-show="!ferryData.reached">Distance to travel: {{ferryData.distancePending}}</li>
                                            <li class="unit col2" ng-show="!ferryData.reached">Estimated travel time: {{ferryData.travelTime}}</li>
                                            <li class="lastUnit col4 word-break" ng-show="ferryData.reached">Reached building</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-show="!data.ferriesOnRoute.length">No ferry on this route.</div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>