<ion-view view-title="Dashboard" title="hhhh">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Select Building</div>
                <select ng-model="data.userBuilding">
                    <option ng-repeat="(building, routes) in data.buildings" value="{{building}}">Building {{building}}</option>
                </select>
            </label>
        </div>
        
        <button class="button button-block button-stable button-dash" ng-click="selectBuilding();" ng-disabled="data.loadingFerries || !data.userBuilding">
            <span ng-show="!data.loadingFerries">Find Routes</span>
            <span ng-show="data.loadingFerries">Loading....</span>
        </button>

        <div class="available-routes-options dash-ferries" ng-show="data.buildingRoutes.length">
            <h3 class="padding-top">Available Routes</h3>
            <div class="list card" ng-repeat="(routeId, ferries) in data.ferriesOnRoute" ng-show="data.buildingRoutes.indexOf(routeId)>-1">
                <div class="item item-divider">Route {{routeId}}</div>
                <div class="item item-body" ng-init="route=data.routes[routeId];">
                    
                    <div ng-show="!ferries.length">Currently, no active ferry found on this route.</div>
                    
                    <div class="route-graph-container" ng-repeat="ferry in ferries">
                        <div class="route-graph" ng-controller="infoBoxesCtrl">
                            <h2 ng-class="{'reset-mg-top':!$index}">Ferry {{$index+1}}</h2>
                            <ul class="line graph">
                                <li class="unit size1of{{route.buildings.length}} fk-text-center state" ng-repeat="building in route.buildings">
                                    <ul class="line">
                                        <li class="order-step" ng-class="{'processed':ferry.route[building].reached, 'inactive':!ferry.route[building].reached}" ng-click="info.showBox($index)"></li>
                                    </ul>
                                    <p class="abs-text">{{building}}</p>
                                </li>
                            </ul>
                            <div class="rposition">
                                <div class="granular-info-box" ng-repeat="building in route.buildings" ng-show="info.boxes[$index]">
                                    <div class="arrow arrow0"></div>
                                    <div class="margin5" ng-init="ferryData=ferry.route[building];">
                                        <div class="bmargin5 fk-font-normal" ng-class="{'processed':ferryData.reached, 'inactive':!ferryData.reached}"><strong>Building {{building}}</strong></div>
                                        <div class="bmargin5 fk-font-normal" ng-show="!ferryData.reached">Estimated distance to travel: {{ferryData.distancePending}}</div>
                                        <div class="bmargin5 fk-font-normal" ng-show="!ferryData.reached">Estimated time for arrival: {{ferryData.travelTime}}</div>
                                        <div class="bmargin5 fk-font-normal" ng-show="ferryData.reached">Reached</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-divider" ng-show="!$last"><hr/></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>