<ion-view view-title="Time Table">
  <ion-content>
    <div class="form-group">
      <h3>
        Select Route:
      </h3>
      <select class="form-control" id="sel1">
        <option>Route 1</option>
        <option>Route 2</option>
        <option>Route 3</option>
        <option>Route 4</option>
      </select>
    </div>    
    <div class="form-group">
      <a href="#/startNavigating" ng-click="startInterval()" class="btn btn-lg btn-success">Share Location</a>
    </div>    
    
  </ion-content>
</ion-view>