<ion-view view-title="Time Table">
  <ion-content>
    <div class="form-group">
      <h3>
        Select Route:
      </h3>
      <select class="form-control" id="sel1">
        <option>Route 1</option>
        <option>Route 2</option>
        <option>Route 3</option>
        <option>Route 4</option>
      </select>
    </div>    
    <div class="form-group">
      <a href="#/startNavigating" ng-click="startInterval()" class="btn btn-lg btn-success">Share Location</a>
    </div>
    
    
    
    
    
    
<div class="route-graph-container">  
  <div class="route-graph">
   <p>Route B</p>   
   <ul class="line graph">
     <li class="unit size1of3 fk-text-center state">
        <ul class="line">
           <li class="order-step processed" data-state="payments-processed-continous" data-row="196795567" data-index="0"></li>
        </ul>
     </li>
     <li class="unit size1of3 fk-text-center state">
        <ul class="line">
           <li class="order-step processed-continous" data-state="reservedBullet-inactive" data-row="196795567" data-index="1"></li>      
        </ul>
     </li>
     <li class="lastUnit size1of3 fk-text-center state">
        <ul class="line">
           <li class="order-step inactive" data-state="trackingBullet-inactive" data-row="196795567" data-index="4"></li>
        </ul>
     </li>
  </ul>

  <div class="rposition">
     <div class="granular-info-box steps196795567 step1967955670" style="display: none;">
        <div class="arrow arrow0"></div>
        <div class="margin5">
           <div class="processed bmargin5 fk-font-normal">
              Your order has been placed.
           </div>
           <ul class="line granular-info">
              <li class="unit col1">Sat, 6th Jun</li>
              <li class="unit col2">12:38 pm</li>
              <li class="lastUnit col4 word-break">
                 Payment Approved 
              </li>
           </ul>
        </div>
     </div>
     <div class="granular-info-box steps196795567 step1967955672 fk-hidden" style="display: block;">
        <div class="arrow arrow2"></div>
        <div class="margin5">
           <div class="inactive bmargin5 fk-font-normal">
              Seller yet to pack item.
           </div>
        </div>
     </div>
     <div class="granular-info-box steps196795567 step1967955676 fk-hidden" style="display: none;">
        <div class="arrow arrow6"></div>
        <div class="margin5">
           <div class="inactive bmargin5 fk-font-normal">
              Shipment yet to be delivered.
           </div>
        </div>
     </div>
  </div>
  </div>
  <div class="route-graph">
   <p>Route D</p>   
   <ul class="line graph">
     <li class="unit size1of4 fk-text-center state">
        <ul class="line">
           <li class="order-step processed-continous" data-state="payments-processed-continous" data-row="196795567" data-index="0"></li>
        </ul>
     </li>
     <li class="unit size1of4 fk-text-center state">
        <ul class="line">
           <li class="order-step inactive" data-state="reservedBullet-inactive" data-row="196795567" data-index="1"></li>      
        </ul>
     </li>
     <li class="unit size1of4 fk-text-center state">
        <ul class="line">
           <li class="order-step inactive" data-state="reservedBullet-inactive" data-row="196795567" data-index="1"></li>      
        </ul>
     </li>
     <li class="lastUnit size1of4 fk-text-center state">
        <ul class="line">
           <li class="order-step inactive" data-state="trackingBullet-inactive" data-row="196795567" data-index="4"></li>
        </ul>
     </li>
  </ul>

  <div class="rposition">
     <div class="granular-info-box steps196795567 step1967955670" style="display: none;">
        <div class="arrow arrow0"></div>
        <div class="margin5">
           <div class="processed bmargin5 fk-font-normal">
              Your order has been placed.
           </div>
           <ul class="line granular-info">
              <li class="unit col1">Sat, 6th Jun</li>
              <li class="unit col2">12:38 pm</li>
              <li class="lastUnit col4 word-break">
                 Payment Approved 
              </li>
           </ul>
        </div>
     </div>
     <div class="granular-info-box steps196795567 step1967955672 fk-hidden" style="display: block;">
        <div class="arrow arrow2"></div>
        <div class="margin5">
           <div class="inactive bmargin5 fk-font-normal">
              Seller yet to pack item.
           </div>
        </div>
     </div>
     <div class="granular-info-box steps196795567 step1967955676 fk-hidden" style="display: none;">
        <div class="arrow arrow6"></div>
        <div class="margin5">
           <div class="inactive bmargin5 fk-font-normal">
              Shipment yet to be delivered.
           </div>
        </div>
     </div>
  </div>
  </div>
    <div class="route-graph">
   <p>Route A</p>   
   <ul class="line graph">
     <li class="unit size1of2 fk-text-center state">
        <ul class="line">
           <li class="order-step processed-continous" data-state="payments-processed-continous" data-row="196795567" data-index="0"></li>
        </ul>
     </li>
     <li class="lastUnit size1of2 fk-text-center state">
        <ul class="line">
           <li class="order-step inactive" data-state="trackingBullet-inactive" data-row="196795567" data-index="4"></li>
        </ul>
     </li>
  </ul>

  <div class="rposition">
     <div class="granular-info-box steps196795567 step1967955670" style="display: none;">
        <div class="arrow arrow0"></div>
        <div class="margin5">
           <div class="processed bmargin5 fk-font-normal">
              Your order has been placed.
           </div>
           <ul class="line granular-info">
              <li class="unit col1">Sat, 6th Jun</li>
              <li class="unit col2">12:38 pm</li>
              <li class="lastUnit col4 word-break">
                 Payment Approved 
              </li>
           </ul>
        </div>
     </div>
     <div class="granular-info-box steps196795567 step1967955676 fk-hidden" style="display: none;">
        <div class="arrow arrow6"></div>
        <div class="margin5">
           <div class="inactive bmargin5 fk-font-normal">
              Shipment yet to be delivered.
           </div>
        </div>
     </div>
  </div>
  </div>
</div>    
    
    
    
    
    
    
    
    
    
    
  </ion-content>
</ion-view>