<ion-view view-title="Time Table">
  <div class="bar bar-header bar-positive">
      <h1 class="title">Ferry Tracker</h1>
  </div>
  <ion-content class="padding">
  	<div class="image-container">
		<ion-spinner icon="ripple" class="spinner-energized" style="position: absolute; top:50px;"></ion-spinner>
		<div class="nav-icon-container">
			<img src="img/navigation.png" class="navigation-icon">
		</div>	
  	</div>	
	<div class="button-container">  
		<!--<a href="#/form" ng-click="cancelInterval()" class="btn btn-lg btn-success">Stop Sharing</a>-->
		<a href="#/form" class="button button-block button-stable" ng-click="cancelInterval();">Stop Sharing</a>
	</div> 	 	
  </ion-content>   
</ion-view>
